<% layout('includes/layout') %>

<div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Admin</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/admin/dashboard">Home</a>
                        </li>
                        <li>
                            <a href="/admin/events">Events</a>
                        </li>
                         <li class="active">
                             <strong>Add events</strong>
                        </li>
                    </ol>
                </div>
</div>



            <div class="wrapper wrapper-content animated fadeInRight">
                   <div class="col-lg-10" style="margin-bottom:31px;">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Add events</h5>
                        </div>
                        <div class="ibox-content">



          <form class="form-horizontal" id="myForm" action='add_events' method="post" enctype="multipart/form-data">

              <div class="form-group"><label class="col-lg-3 control-label">Event name</label>
                <div class="col-lg-6"><input type="text" name="event_name" placeholder=" Add event name" class="form-control" required="">
                </div>
             </div>
             <!-- <div class="form-group"><label class="col-lg-2 control-label">Winning Code</label>
               <div class="col-lg-6"><input type="text" name="code" placeholder="Enter winning code" class="form-control" required="">
               </div>
             </div> -->
             <div class="form-group"><label class="col-lg-3 control-label">Cash prize</label>
               <div class="col-lg-6"><input type="text" name="cash_prize" placeholder="Enter cash prize" class="form-control" required="">
               </div>
             </div>
             <!-- <div class="form-group"><label class="col-lg-2 control-label">Event Time</label>
               <div class="col-lg-6"><input type="text" name="event_time" placeholder="Enter event time in seconds" class="form-control" required="">
               </div>
             </div> -->

             <div class="form-group"><label class="col-lg-3 control-label">Event Time</label>
               <div class="col-lg-6">
               <div class="checkbox">
           <label>
            <input type="checkbox" data-onstyle="info" data-offstyle="danger" data-style="android" data-toggle="toggle" data-on="YES" data-off="NO" id="toggle-two">
          </label>
        </div></div>
            </div>


          <div class="form-group" style="display: none;" id="event_time"><label class="col-lg-3 control-label">Enter time</label>
             <div class="col-lg-6"><input type="text" id="e_time" name="event_time" placeholder="Enter event time in seconds" class="form-control"></div>
          </div>

             <div class="form-group"><label class="col-lg-3 control-label">Restaurant name</label>
               <div class="col-lg-6">
                        <select class="js-example-basic-multiple js-states form-control js-example-responsive" id="id_label_multiple" multiple="multiple" style="width:100%" name="restaurant_name[]">
                          <% for(var i = 0 ; i < companies.length ; i++){ %>
                           <option value="<%= companies[i].id %>"><%= companies[i].name %></option>
                          <% } %>
                         </select>
               </div>
            </div>

             <div class="form-group"><label class="col-lg-3 control-label">Event description</label>
               <div class="col-lg-6"> <textarea class="form-control" rows="5" id="comment" name="description"></textarea>
               </div>
            </div>
            <div class="form-group"><label class="col-lg-3 control-label">Number of Winners</label>
              <div class="col-lg-6"><input type="text" id="num_win" onchange="addCash(this);" name="num_winners" placeholder="Enter number of winners" class="form-control" required="">
              </div>
            </div>
            <div id="new"></div>
            <div class="form-group"><label class="col-lg-3 control-label">Event start time</label>
              <div class="col-lg-6">
                    <div class='input-group date' id='datetimepicker1'>
                              <input type='text' class="form-control" name="event_start_time" required/>
                              <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-calendar"></span>
                              </span>
                    </div>
             </div>
            </div>
            <div class="form-group"><label class="col-lg-3 control-label">Event end time</label>
              <div class="col-lg-6">
                    <div class='input-group date' id='datetimepicker2'>
                              <input type='text' class="form-control" name="event_end_time" required/>
                              <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-calendar"></span>
                              </span>
                    </div>
              </div>
           </div>
           <div class="form-group"><label class="col-lg-3 control-label">Submission start time</label>
             <div class="col-lg-6">
                   <div class='input-group date' id='datetimepicker3'>
                             <input type='text' class="form-control" name="submission_start_time" required/>
                             <span class="input-group-addon">
                                 <span class="glyphicon glyphicon-calendar"></span>
                             </span>
                   </div>
             </div>
           </div>
           <div class="form-group"><label class="col-lg-3 control-label">Submission end time</label>
             <div class="col-lg-6">
                   <div class='input-group date' id='datetimepicker4'>
                             <input type='text' class="form-control" name="submission_end_time" required/>
                             <span class="input-group-addon">
                                 <span class="glyphicon glyphicon-calendar"></span>
                             </span>
                   </div>
             </div>
           </div>
          <!-- <div class="form-group"><label class="col-lg-2 control-label">Upload invoice</label>
            <div class="col-lg-6"> <input type="file" name="invoice" placeholder=" Add event name" class="form-control" required="">
            </div>
         </div> -->
            <div class="form-group">
              <div class="col-lg-12 submit_btn"><button class="btn btn-sm btn-primary" type="button" id="apbutton" onclick="checkForm();">Submit</button>
             </div>
            </div>
          </form>

                        </div>
                    </div>
                </div>
          </div>
<script type="text/javascript">

function checkForm(){
          var a=document.forms["myForm"]["event_name"].value;
          var aval = a.replace(/\s/g, "");
          var alen = aval.length;
          var b=document.forms["myForm"]["cash_prize"].value;
          var bval = b.replace(/\s/g, "");
          var blen = bval.length;
          var c=document.forms["myForm"]["description"].value;
          var cval = c.replace(/\s/g, "");
          var clen = cval.length;
          var d=document.forms["myForm"]["num_winners"].value;
          var dval = d.replace(/\s/g, "");
          var dlen = dval.length;
          var e=document.forms["myForm"]["restaurant_name[]"].value;
          var eval = e.replace(/\s/g, "");
          var elen = eval.length;
          var f=document.forms["myForm"]["event_start_time"].value;
          var fval = f.replace(/\s/g, "");
          var flen = fval.length;
          var g=document.forms["myForm"]["event_end_time"].value;
          var gval = g.replace(/\s/g, "");
          var glen = gval.length;
          var h=document.forms["myForm"]["submission_start_time"].value;
          var hval = h.replace(/\s/g, "");
          var hlen = hval.length;
          var i=document.forms["myForm"]["submission_end_time"].value;
          var ival = i.replace(/\s/g, "");
          var ilen = ival.length;

           if(dval==0){
            alert("Number of winners cannot be 0");
            e.preventDefault();
           }

            var counter = 0;
            var counter_win = 0;
            var counter_jumb = 0;

            var cash_prize = document.getElementsByClassName("cash_prize");
            if (cash_prize.length > 0) {
              for(counter=0; counter < cash_prize.length; counter++){
                  if(!(cash_prize[counter].value).length){
                    alert("Please fill all the required fields!");
                    e.preventDefault();
                  }
              }
            }

             var winner_code = document.getElementsByClassName("winner_code");
             if (winner_code.length > 0) {
                for(counter_win=0; counter_win < winner_code.length; counter_win++){
                  if(!(winner_code[counter_win].value).length){
                    alert("Please fill all the required fields!");
                     e.preventDefault();
                  }
                }
             }

             var jumbled_code = document.getElementsByClassName("jumbled_code");
             if (jumbled_code.length > 0) {
                for(counter_jumb=0; counter_jumb < jumbled_code.length; counter_jumb++){
                  if(!(jumbled_code[counter_jumb].value).length){
                    alert("Please fill all the required fields!");
                     e.preventDefault();
                  }
                 }
             }


          var event_start = new Date(f).getTime() >= new Date(g).getTime();
          var submission_start = new Date(h).getTime() >= new Date(i).getTime();

          if(alen==0 || blen==0 || clen==0 || dlen==0 || elen==0 || flen==0 || glen==0 || hlen==0 || ilen==0)
          {
           alert("Please Fill All The Required Fields");
          }
          else if(event_start){
           alert("Event end time should be greater than event start time");
          }
          else if(submission_start){
           alert("Submission end time should be greater than submission start time");
          }
          else{
           $('#myForm').submit();
          }
}
</script>
